*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
 
}
.heaher{
    width: 100%;
    height: 50px;
    padding: 10px 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white

}
header{
    /* margin: 10px 80px; */
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex: 2;
}

.logo img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.serch{
    display: flex;
    position: relative;
    align-items: center;

}
.serch span{
    position: absolute;
    margin-left: 10px;
   
}
.serch input{
    position: absolute;
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    padding-left: 40px;
    background-color: rgb(243, 236, 236);
    
}
.rightSide{
    display: flex;
    flex: 2;
    justify-content: space-between;
}
.menuItem{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 8px;
    font-weight: lighter;
}

 .headoption a span{
    width: 80px;
    height: auto;
    font-size: 25px;
    color: rgb(70, 64, 64);
    
 }

.container{
   max-width: 100%;
    height: 1100px;
    background-color: rgb(215, 219, 223);
    padding: 0 120px;
}
.subContainer{
    height: auto;
    width: 100%;
   


}
.space{
    width: 100%;
    height: 120px;

}
.main{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: space-between;
}
/* leftside */
.left{
    height: auto;
    flex: 1;
    width: 100%;
    padding: 0 10px;

}
.profil{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 3px;
    background-color: black;
    border-radius: 10px;;
    background-color: white;
    
}
.user{
    width: 100%;
    height: 160px;
    position: relative;
}
.coverImg img{

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100px;
    position: absolute;
}
.proPic{
    /* align-items: center; */

    text-align: center;
    position: absolute;
    width: 110px;
    height: 110px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    
    
    border-radius: 50%;
    top: 40px;
    left: 80px;

}
.proPic img{
    width: 100px;
    height: 100px;
    border: 10ch;
   
    margin-top: 5px;
    
    border-radius: 50%;
   
    
}
.details{
    text-align: center;
    color: black;
   
}
 h3{
    font-size: medium;
}
.details p{
    font-size: 11px;
    margin-bottom: 10px;
}
.gray{
    color: rgb(143, 131, 131);
}
.connection , .myItem{
    padding: 20px 20px;
}
.connection h3 , .myItem h3{
    font-size: 12px;
    
}
 .myItem{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    
}
.myItem h3{
    margin-left: 10px;
}








.feed{
    flex: 2;
    width: 100%;
    height: 100vh;
   
}
.post{
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.post1{
    display: flex;
    margin-bottom: 20px;
}
.post1 img{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}
.post1 input{
    width: 100%;
    border-radius: 30px;
    padding: 0 20px;
    
}
.post2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.postItem span{
    font-size: 20px;
    margin-right: 10px;
}
.postItem h4{
    font-family: 16px;
}
.red{
    color: rgb(224, 133, 133);
}
.blue{
    color: rgb(158, 158, 207);
}
.green{
    color: rgb(117, 199, 117);
}
.yello{
    color: rgb(245, 245, 121);
}
.postItem{
    display: flex;
}

.feedPost{
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
   
    background-color: white;
}
.postHead{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    

}
.postUserimage{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.postUserimage img{
    width: 50px;
    width: 50px;
    margin-right: 10px;

}
.name{
    display: flex;
    flex-direction: column;
    
}
.postUserimage h5{
    font-size: 16px;
}
 small{
     font-size: 10px;
 }
  .dot{
    font-size: 6px;
 }
 .public{
     font-size: 12px;
 }

 .menuicon span{
     text-align: center;
     width: 30px;
     height: 30px;
     /* align-items: center; */
     background-color: rgba(173, 194, 194, 0.24);
     border-radius: 50%;
 }
 .postDis{
     padding: 0 20px;
 }
 .postDis p{
     font-size: 14px;
 }
 .postImg img{
     width: 100%;
     height: 300px;
 }
 .postlikeCount{
     padding: 5px 20px;
 }
 .postlikeCount .l{
     font-size: 14px;
     /* width: 20px;
     height: 20px; */

     text-align: center;
    

 }
 
 .like{
    background-color: rgb(69, 112, 253);
    border-radius: 50%;
    color: rgb(194, 194, 199);

 }
 .love{
    background-color: rgb(255, 79, 79);
    border-radius: 50%;
    color: rgb(239, 239, 245);

     
 }
 .postBurtton{
     padding: 5px 20px;
     width: 80%;
     display: flex;
     align-items: center;
     text-align: center;
     /* justify-content: space-between; */
 }
 .postBurtton div {
     
     
     width: 120px;
     
     
 }
 /* .k a{
    width: 100%;
    height: 100%;
 } */
 .postBurtton span{
     font-size: 14px;
     
 }
 .k :hover{
     background-color: aliceblue;
 }
 .postBurtton span{

 }






/* right side  */
.right{
    flex: 1;
    height: auto;
    width: 100%;
    padding: 0 10px;
    
    
    
}
.news{
    padding: 10px;
    /* height: 600px; */
    background-color: white;
    border-radius: 10px;
    
}
.newHead{
    display: flex;
    justify-content: space-between;
}
.newHead h2{
    font-size: 16px;

}

.list{
    display: flex;
    margin-top: 10px;
   
}
.point span{
    font-size: 14px;
   color: rgb(114, 110, 110);
}
.history{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.info a{
    font-size: 14px;
}
.history p , .history span{
    font-size: 10px;
    margin-right: 5px;
    
}
