*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Roboto,Arial, Helvetica , sans-serif;
}
body{
    background-color: whitesmoke;
}
a{
    text-decoration: none;
    color: inherit;
 
}
.heaher{
    height: 60px;
    padding: 10px 120px;
    position: sticky;
    top:0;
   /* width: 100%; */
    z-index: 3;
    background-color: white;
    border: .1px solid lightgray;
    

}
header{
    /* margin: 10px 80px; */
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex: 2;
    align-items: center;
}

.logo img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.serch{
    display: flex;
    position: relative;
    align-items: center;

}
.serch span{
    position: absolute;
    margin-left: 10px;
    
   
}
.serch input{
    position: absolute;
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    padding-left: 40px;
    background-color: rgb(243, 236, 236);
    transition: width 350ms;
    
}
.serch input:focus{
    width: 300px;
}
.rightSide{
    display: flex;
    flex: 2;
    justify-content: space-between;
}
.menuItem{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 8px;
    font-weight: lighter;
}

 .headoption a span{
    width: 80px;
    height: auto;
    font-size: 20px;
    color: rgb(70, 64, 64);
    
 }
 .headoption a span:hover{
    color: #999;
 }
 .headoption:hover{
    color: #999;
 }
 .headoption a h3{
     font-size: 14px;
     font-weight: 400;
 }

.container{

   width: 100%;
   height: 100%;
 
    background-color: whitesmoke;
    padding: 0 100px;
   
}

.main{
    max-width: 1200px;
    height: auto;
    padding-top: 30px;
    
    display: flex;
    /* justify-content: space-between; */
}
/* leftside */
.left{
    position: sticky;
    height: fit-content;
    flex: 1;
    width: 100%;
    padding: 0 10px;
    

}
.profil{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 3px;
    background-color: black;
    border-radius: 10px;;
    background-color: white;
    border: 1px solid #999;
    
}
.user{
    width: 100%;
    height: 120px;
    align-items: center;
  
    
}
.coverImg img{

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 70px;
   
    
}
.proPic{


    text-align: center;
    align-items: center;
    width: 90px;
    height: 90px;

    background-color: rgb(255, 255, 255);
    border-radius: 50%;

    margin: 0 auto;
    margin-top: -50px;
    

}
.proPic img{
    width: 80px;
    height: 80px;
 
    border: 2px solid white;
   
    
    
    border-radius: 50%;
   
    
}
.details{
    text-align: center;
    color: black;
   
}
 h3{
    font-size: medium;
}
.details p{
    font-size: 11px;
    margin-bottom: 10px;
}
.gray{
    color: rgb(143, 131, 131);
}
.connection{
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.connection , .myItem{
    padding: 20px 20px;
}
.connection h3 , .myItem h3{
    font-size: 12px;
    
}
.s {
    display: flex;
    justify-content: space-between;
}
.s p{
    font-size: 12px;
    font-weight: bold;
    color: #0a66c2;
}
 .myItem{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    
}
.myItem h3{
    margin-left: 10px;
}
.side_bottom{
    padding: 10px;
    border: 1px solid #999;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    position: sticky;
}
.sidebar_recebtItem{
    display: flex;
    font-weight: bolder;
    cursor: pointer;
    color: gray;
    margin-bottom: 5px;
}
.sidebar_recebtItem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}
.side_hash{
    margin: 0 10px;
}
.side_bottom p{
    font-size: 14px;
    padding-bottom: 10px;

}
.feed{
    flex: 2;
    width: 100%;
    height: 100vh;
    margin: 0 20px;
    
   
}
.post{
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #999;
    height: 110px;
    
}
.post1{
    display: flex;
    margin-bottom: 5px;
}
.line{
    display: flex;
    justify-content: end;
    align-items: center;

}
.hr{
    width: 100%;
    height: 1px;
    border-top: .1px solid #555;
    margin-right: 15px;
}
.line p{
    font-size: 12px;
    width: 80px;

}
.line span{
    font-weight: bold;
}
.post1 img{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}
.post1 input{
    width: 100%;
    border-radius: 30px;
    border: 1px solid #555;
    padding: 0 20px;
    cursor: pointer;
    
}

.post2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.postItem span{
    font-size: 20px;
    margin-right: 10px;
}
.postItem h4{
    font-family: 16px;
}
.red{
    color: rgb(224, 133, 133);
}
.blue{
    color: rgb(158, 158, 207);
}
.green{
    color: rgb(117, 199, 117);
}
.yello{
    color: rgb(245, 245, 121);
}
.postItem{
    display: flex;
    height: 40px;
    align-items: center;
   border-radius: 10px;
   padding: 5px;
   cursor: pointer;
}
.postItem:hover{
    background-color: whitesmoke;

}

.feedPost{
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #999;
   
    background-color: white;
}
.postHead{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    

}
.postUserimage{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.postUserimage img{
    width: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;

}
.name{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
}
.nameh:hover{
    text-decoration: underline;
    color: #0a66c2;
}
.postUserimage h5{
    font-size: 16px;
}
 small{
     font-size: 10px;
 }
  .dot{
    font-size: 6px;
 }
 .public{
     font-size: 12px;
 }
 .menuicon{
     cursor: pointer;
 }
 .menuicon:hover{
    background-color: rgba(173, 194, 194, 0.24);
    height: 40px;
    width: 40px;
    align-items: center;
    /* padding: 10px; */
    border-radius: 50%;
 }

 .menuicon span{
     /* text-align: center; */
     margin: 8px;
     /* width: 30px;
     height: 30px; */
     /* align-items: center; */
     
     
 }
 .postDis{
     padding: 0 20px;
 }
 .postDis p{
     font-size: 14px;
 }
 .postImg img{
     width: 100%;
     height: 300px;
 }
 .postlikeCount{
     padding: 5px 20px;
     
 }
 .postlikeCount .l{
     font-size: 14px;
     /* width: 20px;
     height: 20px; */

     text-align: center;
    

 }
 
 .like{
    background-color: rgb(69, 112, 253);
    border-radius: 50%;
    color: rgb(194, 194, 199);

 }
 .love{
    background-color: rgb(255, 79, 79);
    border-radius: 50%;
    color: rgb(239, 239, 245);    
 }
 .postBurtton{
     padding: 5px 20px;
    
     display: flex;
     /* align-items: center;
     text-align: center; */
     border-top: 1px solid #999;
    
 }
.k {
    font-size: 13px;

     height: 50px;
     
     
     color: #555;
     font-weight: bold;
     
     width: 110px;
     text-align: center;
    align-items: center;
     
     margin: auto 0;
     
     
 }
 .k a{
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
   
    
 }


   

 .k:hover{
     background-color: whitesmoke;
     border-radius: 10px;
 }


.right{
    flex: 1;
    height: auto;
    width: 100%;
    padding: 0 10px;
    
    
    
}
.news{
    
    background-color: white;
    border-radius: 10px;
    border: 1px solid #999;
    padding-bottom: 10px;
    margin-bottom: 10px;

    
}
.j{
    padding: 0 10px;

}

.newHead{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.newHead h2{
    font-size: 16px;

}
.newHead span{
    font-size: 15px;
    color: #555;
    cursor: pointer;
}

.list{
    display: flex;
    margin-top: 10px;
   
}
.newsList :hover{
    background-color: whitesmoke;
}
.point span{
    font-size: 12px;
   color: rgb(114, 110, 110);
   margin-right: 10px;
}
.history{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.info a{
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.history p {
    font-size: 10px;
    margin-right: 5px;
    
}
.history span{
    font-size: 6px;
    color: #999;
    margin: 0 5px 0 0;
    
}
.more{
    margin: 0 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100px;
    cursor: pointer;
}
.more:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.more p{
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
}
.num{
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}
.lmore{
    height: 50px;
    display: flex;
    align-items: center;

}
.lmore:hover{
    background-color: rgb(238, 231, 231);
    border-radius: 10px;

}

.lmore p{
    width: 90%;
    text-align: center;
}
.ads{
    width: 100%;
    height: 500px;
    background-color: #0a66c2;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    
    top: 10;

}
.ads{
    border: 1px solid #999;
    height: 250px;
    border-radius: 10px;
    background-color: white;
    padding: 0 5px ;
    
}
.ads img{
    height: 100%;
    width: 100%;
}
.footer{
    padding: 20px;
    font-size: 12px;
    width: 100%;
    
    
  
   
    justify-content: left;
    align-items: center;
    text-align: center;
}
.footer a{
    margin-right: 20px;
    align-items: center;
    text-align: center;
    
}
.footer a:hover{
    text-decoration: underline;
    color: #0a66c2;

}
.last{
    width: 100%;
    font-size: 12px;
    display: flex;
    margin-top: 10px;
    
}
.last svg{
    color: #0a66c2;
    margin-right: 10px;


}
.ss{
    display: none;
}




@media only screen and (max-width: 1055px) {
    .serch{
        display: none;
     
     }
     .ss{
         display: inline;
     }
   
    .heaher{
        height: 60px;
        padding: 10px 80px;
        position: sticky;
        top:0;
       /* width: 100%; */
        z-index: 3;
        background-color: white;
        border: .1px solid lightgray;
        
    
    }
    header{
        /* margin: 10px 80px; */
        display: flex;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        flex: 2;
        align-items: center;
    }
    
    .logo img{
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
   
    .serch span{
        position: absolute;
        margin-left: 10px;
        
       
    }
    .serch input{
        position: absolute;
        width: 200px;
        height: 30px;
        border: 0;
        border-radius: 5px;
        padding-left: 40px;
        background-color: rgb(243, 236, 236);
        transition: width 350ms;
        
    }
    .serch input:focus{
        width: 300px;
    }
    .rightSide{
        display: flex;
        flex: 2;
        justify-content: space-between;
    }
    .menuItem{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 8px;
        font-weight: lighter;
    }
    
     .headoption a span{
        width: 80px;
        height: auto;
        font-size: 20px;
        color: rgb(70, 64, 64);
        
     }
     .headoption a span:hover{
        color: #999;
     }
     .headoption:hover{
        color: #999;
     }
     .headoption a h3{
         font-size: 14px;
         font-weight: 400;
     }
    
    .container{

        padding: 0 30px;
       
    }
    
    .main{
        max-width: 1200px;
        height: auto;
        padding-top: 30px;
        
        display: flex;
        /* justify-content: space-between; */
    }
   
    
    /* leftside */
    .right{
        display: none;
    }


}

@media only screen and (max-width: 700px) {
.heaher{
    height: 60px;
    padding: 0 10px;
    align-items: center;
    
    border: 0;
    

}

.ss h3{
    display: none;
    font-weight: lighter;
}

.logo img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.serch{
   display: none;

}

.rightSide{
    display: flex;
    flex: 0;
    justify-content: center;
}
.menuItem{
   
    padding: 15px 0;
    font-weight: bold;
}

 .headoption a span{
   
    width: 50px;
    height: auto;
    font-size: 24px;
    color: rgb(70, 64, 64);
    
 }
 .ss{
     display: inline;
     cursor: pointer;
 }
 .ss:hover{
     color: #999;
 }

 .headoption a h3{
     display: none;
 }

.container{

 
    background-color: whitesmoke;
    padding: 0;
    height: 1950px;
}

.main{

    flex-direction: column;
  
}

.left{

    padding: 0;
    

}
.profil{
    display: flex;
    flex-direction: column;
    border-radius:0;

    border: 1px solid #999;
    
}
.user{
    width: 100%;
    height: 120px;
    align-items: center;
  
    
}
.coverImg img{

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    height: 70px;
   
    
}

.proPic img{
    width: 80px;
    height: 80px;
 
    border: 2px solid white;
   
    
    
    border-radius: 50%;
   
    
}
.details{
    text-align: center;
    color: black;
   
}
 h3{
    font-size: medium;
}
.details p{
    font-size: 11px;
    margin-bottom: 10px;
}

.connection{
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: none;
  
}
/* .connection , .myItem{
    display: none;
}
.connection h3 , .myItem span, .myItem h3{
    display: none;
    
} */

 .myItem{
    display: none;

}

.side_bottom{
    display: none;
}

.feed{
    margin: 10px 0; 
}
.post{
 
    border: 0;
    border-bottom: 0.1px solid #999;
    border-top: 0.1px solid #999;
    border-radius: 0;

}
.postItem span{
    font-size: 18px;
    margin-right: 5px;
}
.postItem h4{
    font-family: 14px;
}



.line p{
    font-size: 12px;
    width: 100px;

}


.feedPost{
    margin-top: 20px;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #999;
    border-bottom-left-radius: 1px solid #999;

}

 .postBurtton{
     border-bottom: 1px solid #999;
    
 }

.right{
    flex: 1;
    height: auto;
    width: 100%;
    padding: 0 ;
    
}
.news{
    

    border-radius: 0;
    border: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    margin-bottom: 10px;

    
}


.ads{
    width: 100%;
    height: 500px;
    
    position: static;
    
    
 

}
.ads{
    border: 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    height: 300px;
    border-radius: 0;
    padding: 0 70px ;
    
}
.ads img{
    height: 100%;
    width: 100%;
}
.footer{
    padding: 30px;
    font-size: 10px;
    justify-content: center;

}
.footer a{
    margin-right: 20px;
    align-items: center;
    text-align: center;
    
}

.last{
    justify-content: center;
 
    
}
.last svg{
    color: #0a66c2;
    margin-right: 10px;


}
.right{
    display: inline;
}

}
